html,
body {
    font-size: 100%;
}
h1 {
    margin: 0 0 32px 0;
}

h2 {
    margin: 32px 0;
}

/* Catalog */
.catalog__item .card-header {
    border: 0;
}

.catalog__item--list-view {
    flex-basis: 100%;
    width: 100%;
    max-width: 100%;
}

.catalog__item--grid-view .catalog__description,
.catalog__item--grid-view .catalog__text {
    display: none !important;
}

.catalog__item--list-view .catalog__description,
.catalog__item--list-view .catalog__text.show {
    display: inline !important;
}

.catalog__content {
    position: relative;
}

.catalog__content::after {
    content: "";
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    height: 16px;
    background-image: linear-gradient(to bottom, transparent, #fff);
}
/* /Catalog */

/* Navbar */
.nav-item .nav-link:hover,
.nav-item .nav-link:active,
.nav-item .nav-link:focus {
    background-color: transparent;
}
/* /Navbar */

/* Responsive table */
@media (max-width: 575px) {

    caption {
        text-align: center;
    }

    table.table {
        border: none;
    }

    table.table th {
        display: none;
    }

    table.table td:before {
        margin: 0 0 8px;
        content: attr(data-th);
        display: block;
        font-size: 16px;
        text-align: center;
        font-weight: bold;
    }

    table.table tr,
    table.table td {
        display: block;
        text-align: center;
    }

    table.table td {
        margin-bottom: -1px;
    }

    table.table td:first-child {
        width: auto;
    }

    table.table td[colspan] {
        background-color: #ddd;
        font-weight: bold;
        color: #fff;
    }

    table.table tr {
        margin-bottom: 14px;
    }

    table.table td:empty,
    table.table .filters,
    table.table [data-th="#"],
    table.table [data-th="ID"] {
        display: none;
    }
}
/* /Responsive table */
